<h1 class="gamma-light">О сайте</h1>

<div class="container">

  <h3>Назначение проекта: </h3>
  <p>
    Этот сайт представляет собой независимый сервис мониторинга цен на электронику в
    популярных интернет-магазинах. Мы не являемся интернет-магазином, не продаём товары
    напрямую и не представляем интересы каких-либо торговых площадок или брендов.
    </p>

  <p>
    Все товарные знаки, логотипы и названия компаний, представленные на сайте, являются
    собственностью соответствующих правообладателей и используются исключительно в информационных
    целях — для указания источников, откуда получаются данные о ценах и наличии товаров.
    </p>

    <p>
    Цены, изображения товаров, а также другая информация о продуктах берутся из открытых
    источников (например, публичных страниц магазинов) и могут быть неактуальными или
    отличаться от реальных. Мы не гарантируем точность предоставляемой информации и
    настоятельно рекомендуем проверять данные на официальных сайтах магазинов перед покупкой.
  </p>

  <h3>Политика обновления информации: </h3>
  <p>
    Информация об актуальных ценах и наличии товаров обновляется автоматически с
    периодичностью, варьирующейся для разных магазинов в разное время. Когда в последний раз сервис получал
    информацию о цене товара - должно быть явно указано рядом с кратким его описанием.
    Возможны задержки, сбои или изменения на стороне самих магазинов, которые могут привести к задержкам
    обновления цен. Мы не несем ответственности за неточности и рекомендуем перепроверять
    информацию на официальных сайтах.
  </p>

  <h3>Обратная связь: </h3>
  <p>
    Если вы заметили некорректную информацию или хотите сообщить о проблеме, пожалуйста,
    свяжитесь с нами по адресу: <a href="mailto:{{email}}">{{email}}</a>
  </p>

</div>
